<extend name="Layout/ins_page" />
<block name="content">
    {:W('PageHeader/adv_search',array('name'=>'会员活动','search'=>'M'))}
    <form method="post" name="form_adv_search" id="form_adv_search">
        <div class="adv_search panel panel-default  hidden" id="adv_search">
            <div class="panel-heading">
                <div class="row">
                    <h4 class="col-xs-6">高级搜索</h4>
                    <div class="col-xs-6 text-right">
                        <a class="btn btn-sm btn-info" onclick="submit_adv_search()">搜索</a>
                        <a class="btn btn-sm " onclick="close_adv_search();">关闭</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group col-sm-6">
                    <label class="col-sm-4 control-label" for="li_name">姓名：</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" id="li_name" name="li_name">
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-4 control-label" for="li_company_name">公司：</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" id="li_company_name"
                               name="li_company_name">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="space-8"></div>
    <div class="">
        <form id="form_data" name="form_data" method='post'>
            <div class="">
                <div class="ul_table ul_table_responsive">
                    <ul>
                        <li class="thead content">
                            <div class="row">
                                <span class="col-xs-3">活动名称</span>
                                <span class="col-xs-3">发起人</span>
                                <span class="col-xs-3">发起时间</span>
                                <span class="col-xs-2">负责人</span>
                            </div>
                        </li>
                        <empty name="activities">
                            <li class="no-data">
                                没找到数据
                            </li>
                            <else />
                            <foreach name="activities" item="activity">
                                <li class="tbody content">
                                    <div class="row">
                                        <span class="col-xs-3 "><a href="{:U('show','id='.$activity['ac_id'])}" >{$activity.ac_name}</a></span>
                                        <span class="col-xs-3">{$activity.username}&nbsp;</span>
                                        <span class="col-xs-3">{$activity.start_time}&nbsp;</span>
                                        <span class="col-xs-2">{$activity.name}&nbsp;</span>
                                    </div>
                                </li>
                            </foreach>
                            <div class="pagination">
                                {$page}
                            </div>
                        </empty>
                    </ul>
                </div>
            </div>
        </form>

    </div>

</block>
