<extend name="Layout/ins_page" />
<block name="content">
	{:W('PageHeader/adv_search',array('name'=>'销售数据','search'=>'M'))}
	<form method="post" name="form_adv_search" id="form_adv_search">
		<div class="adv_search panel panel-default hidden"  id="adv_search">
			<div class="panel-heading">
				<div class="row">
					<h4 class="col-xs-6">高级搜索</h4>
					<div class="col-xs-6 text-right">
						<a  class="btn btn-sm btn-info" onclick="submit_adv_search();">搜索</a>
						<a  class="btn btn-sm " onclick="close_adv_search();">关闭</a>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="form-group col-sm-6">
					<label class="col-sm-4 control-label" for="be_create_time">登录时间：</label>
					<div class="col-sm-8">
						<div class="input-daterange input-group" >
							<input type="text" class="input-sm form-control text-center" name="be_renew_date" readonly="readonly"/>
							<span class="input-group-addon">-</span>
							<input type="text" class="input-sm form-control text-center" name="en_renew_date" readonly="readonly"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<if condition="$auth['admin']">
		<div class="operate panel panel-default">
			<div class="panel-body">
				<div class="pull-left">
					<a class="btn btn-sm btn-danger" onclick="del();">删除</a>
				</div>
				<div class="pull-right">
					<if condition="$auth['write']">
						<a class="btn btn-sm btn-primary" onclick="add()">添加</a>
						<a class="btn btn-sm btn-primary hidden" onclick="import_data()">导入</a>
					</if>
				</div>
			</div>
		</div>
	</if>
	<div class="ul_table message-container">
		<div>
			<table class="table table-bordered" >
				<thead>
					{$head_html}
				</thead>
				<empty name="list">
					<tr class="no-data">
						<td colspan="34" class="text-center"><h3>没找到数据</h3></td>
					</tr>
					<else/>
					<form method="post" action="" name="form_data" id="form_data">
						<foreach name="list" item="vo">
							<tr class="tbody data_item">
								<td><label class="inline pull-left">
									<input class="ace" type="checkbox" name="id[]" value="{$vo.id}" />
									<span class="lbl"></span></label></td>
								<td>{$vo['sales_date']}</td>
								<td>{$vo['shop_no']}</td>
								<td>{$vo['shop_name']}</td>
								<td>{$vo['amount']}</td>
							</tr>
						</foreach>
					</form>
				</empty>
			</table>
			<div class="pagination">
				{$page}
			</div>
		</div>
	</div>
</block>
<block name="js">
	<script type="text/javascript">
		function del() {
			var vars = $("#form_data").serialize();
			ui_confirm('确定要删除吗?', function() {
				sendAjax("{:U('del')}", vars, function(data) {
					if (data.status) {
						ui_alert(data.info, function() {
							location.reload(true);
						});
					}
				});
			});
		}

		function add() {
			winopen("{:U('add')}",560, 470);
		};
		
		function import_data() {
			window.open("{:U('import')}", "_self");
			return false;
		}

		$(document).ready(function() {
			set_return_url();
		});
	</script>
</block>

