<extend name="Layout/ins_page" />
<block name="content">
	{:W('PageHeader/adv_search',array('name'=>'销售统计','search'=>'M'))}
	<form method="post" name="form_adv_search" id="form_adv_search">
		<div class="adv_search panel panel-default hidden"  id="adv_search">
			<div class="panel-heading">
				<div class="row">
					<h4 class="col-xs-6">高级搜索</h4>
					<div class="col-xs-6 text-right">
						<a  class="btn btn-sm btn-info" onclick="submit_adv_search();">搜索</a>
						<a  class="btn btn-sm " onclick="close_adv_search();">关闭</a>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="form-group col-sm-6">
					<label class="col-sm-4 control-label" for="be_create_time">搜索时间：</label>
					<div class="col-sm-8">
						<div class="input-daterange input-group" >
							<input type="text" class="input-sm form-control text-center" name="be_start_date" readonly="readonly"/>
							<span class="input-group-addon">-</span>
							<input type="text" class="input-sm form-control text-center" name="en_end_date" readonly="readonly"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="tree_menu">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th rowspan="2" style="width:15%;text-align:center"><br>区域/督导/门店</th>
					<th rowspan="2" style="width:25%;text-align:center"><br>实际完成率（月度）</th>
					<th colspan="3" style="width:30%;text-align:center">月度数据</th>
					<th colspan="3" style="width:30%;text-align:center">日度数据</th>
				</tr>
				<tr>
					<th class="text-center">实销金额</th>
					<th class="text-center">环比增加</th>
					<th class="text-center">同比增加</th>
					<th class="text-center">实销金额</th>
					<th class="text-center">环比增加</th>
					<th class="text-center">同比增加</th>
				</tr>
			</thead>
			<volist name="node_list" id="data">
				<tr>
					<td class="tbody"><label><span class="lbl level{$data.level}">&nbsp;{$data.name}</span></label></td>
					<td class="text-center">
					<div class="col-sm-4" >
						{$data.A1}%
					</div>
					<div class="col-sm-8">
						<div class="progress" style="margin: 0;">
							<div style="width: {$data.A1}%;" class="progress-bar <gt name="data.A2" value="0" >progress-bar-danger</gt>"></div>
						</div>
					</div></td>
					<td class="text-center">{$data.B}</td>
					<td class="text-center"><span class="<gt name="data.C" value="0" >text-navy<else/>text-danger</gt>"><strong>{$data.C}%</strong></span></td>
					<td class="text-center"><span class="<gt name="data.D" value="0" >text-navy<else/>text-danger</gt>"><strong>{$data.D}%</strong></span></td>
					<td class="text-center">{$data.E}</td>
					<td class="text-center"><span class="<gt name="data.F" value="0" >text-navy<else/>text-danger</gt>"><strong>{$data.F}%</strong></span></td>
					<td class="text-center"><span class="<gt name="data.G" value="0" >text-navy<else/>text-danger</gt>"><strong>{$data.G}%</strong></span></td>
				</tr>
			</volist>
			<tr>
				<td class="tbody"><label><span class="lbl ">&nbsp;合计</span></label></td>
				<td class="text-center">
				<div class="col-sm-4" >
					{$sum.A1}%
				</div>
				<div class="col-sm-8">
					<div class="progress" style="margin: 0;">
						<div style="width: {$sum.A1}%;" class="progress-bar <gt name="sum.A2" value="0" >progress-bar-danger</gt>"></div>
					</div>
				</div></td>
				<td class="text-center">{$sum.B}</td>
				<td class="text-center"><span class="<gt name="sum.C" value="0" >text-navy<else/>text-danger</gt>"><strong>{$sum.C}%</strong></span></td>
				<td class="text-center"><span class="<gt name="sum.D" value="0" >text-navy<else/>text-danger</gt>"><strong>{$sum.D}%</strong></span></td>
				<td class="text-center">{$sum.E}</td>
				<td class="text-center"><span class="<gt name="sum.F" value="0" >text-navy<else/>text-danger</gt>"><strong>{$sum.F}%</strong></span></td>
				<td class="text-center"><span class="<gt name="sum.G" value="0" >text-navy<else/>text-danger</gt>"><strong>{$sum.G}%</strong></span></td>
			</tr>
		</table>
	</div>
	</div>
	</div>
</block>
<block name="js">
	<script type="text/javascript">
		function del() {
			var vars = $("#form_data").serialize();
			ui_confirm('确定要删除吗?', function() {
				sendAjax("{:U('del')}", vars, function(data) {
					if (data.status) {
						ui_alert(data.info, function() {
							location.reload(true);
						});
					}
				});
			});
		}

		function import_data() {
			window.open("{:U('import')}", "_self");
			return false;
		}


		$(document).ready(function() {
			set_return_url();
		});
	</script>
</block>

