<extend name="Layout/ins_page" />

<block name="content">
	<style>
		.sub_menu {

			height: 600px;
			overflow-y: scroll;
		}

	</style>

	{:W('PageHeader/search',array('name'=>'共享客户','search'=>'S'))}

	<div class="operate panel panel-default">

		<div class="panel-body">

			<div class="pull-right">

				<a onclick="save()" class="btn btn-sm btn-primary">保存</a>

			</div>

		</div>

	</div>

	<!-- 列表显示区域  -->

	<div class="row">

		<form id="form_data" name="form_data" method="post" >

			<div class="col-sm-8 sub_menu">

				<table class="table table-bordered">

					<thead>

						<tr>

							<th class="text-center col-4"><label class="inline pull-left">
								<input class="ace" type="checkbox" name="id-toggle-all" id="id-toggle-all" />
								<span class="lbl"></span></label></th>

							<th>
							<nobr>

								姓名

							</nobr></th>

							<th>
							<nobr>

								公司

							</nobr></th>
							<th>
							<nobr>

								部门

							</nobr></th>

							<th>
							<nobr>

								职位

							</nobr></th>

							<th >
							<nobr>

								业务员

							</nobr></th>

							<th>
							<nobr>

								产品

							</nobr></th>

						</tr>

					</thead>

					<tbody class="tbody">

						<volist name="contact_list" id="vo">

							<tr id="{$vo.id}">

								<td class="text-center col-3"><label class="inline pull-left">
									<input class="ace" type="checkbox" name="contact_id[]" value="{$vo.id}" />
									<span class="lbl"></span></label></td>

								<td>
								<nobr>

									{$vo.name}

								</nobr></td>

								<td>
								<nobr>

									{$vo.compnay_name}

								</nobr></td>
								<td>
								<nobr>

									{$vo.dept}

								</nobr></td>

								<td>
								<nobr>

									{$vo.position}

								</nobr></td>

								<td>
								<nobr>

									{$vo.salesman_name}

								</nobr></td>

								<td>
								<nobr>
                                 {$vo.product}
									

								</nobr></td>

							</tr>

						</volist>

					</tbody>

				</table>

			</div>

			<div class="col-sm-4 sub_menu">
				<table class="table table-bordered">

					<thead>

						<tr>

							<th>&nbsp;</th>

							<th>
							<nobr>

								姓名

							</nobr></th>

							<th>
							<nobr>

								部门

							</nobr></th>

							

							<th>
							<nobr>

								职位

							</nobr></th>

							

						</tr>

					</thead>

					<tbody>

						<volist name="user_list" id="data">

							<tr id="{$data.id}">

								<td class="col-4"><label class="inline pull-left ">
									<input type="radio" id="user_{$data.id}" name="user_id" value="{$data.id}"/>
									<span class="lbl"></span></label></td>

								<td>{$data.name}</td>
								<td>
								<nobr>

									{$data.dept_name}

								</nobr></td>

								<td>
								<nobr>

									{$data.position_name}

								</nobr></td>

							</tr>

						</volist>

					</tbody>

				</table>

			</div>

		</form>

	</div>

</block>

<block name="js">

	<script type="text/javascript">
		function save() {
			var vars = $("#form_data").serialize();
			sendAjax("{:U('share_save')}", vars, function(data) {
                     if (data.status) {
						ui_alert(data.info, function() {
							location.href="";
						});
					} else {
						ui_error(data.info);
					}
			});

		}
	</script>

</block>