<extend name="Layout/ins_popup" />
<block name="content">
	{:W('PageHeader/simple',array('name'=>'请选择人员','search'=>'N'))}
	<input type="hidden" name="val" id="val">
	<input type="hidden" name="name" id="name">
	<div class="operate panel panel-default">
		<div class="panel-heading clearfix">
			<div class="pull-left">
				<a  onclick="save();" class="btn btn-sm btn-primary">确定</a>
			</div>
			<div class="pull-right">
				<a  onclick="myclose();" class="btn btn-sm btn-default">关闭</a>
			</div>
		</div>
		<div class="panel-body">
			<div class="popup_tree_menu">
				{$menu}
			</div>
		</div>
	</div>
</block>
<block name="js">
	<script type="text/javascript">
		function save() {
			if ($("#name").val().length > 0) {
				sendAjax("{:U('allocate')}", "task_id={$task_id}&user_id=" + $("#val").val(), function(data) {
					if (data.status) {
						ui_alert(data.info, function() {
							parent.location.reload(true);
							myclose();
						});
					} else {
						ui_error(data.info);
					}
				});
			} else {
				ui_error("请选择级人员");
				return false;
			}
		}


		$(document).ready(function() {
			parent_node = $(".sub_left_menu ul.tree_menu a.active", parent.document).attr("node");
			$("ul.tree_menu a[node='" + parent_node + "']").addClass("disabled");
			$(".popup_tree_menu a:not('.disabled')").click(function() {
				$("#val").val($(this).attr("node"));
				$("#name").val($(this).children("span").text());
				$(".tree_menu a.active").removeClass("active");
				$(this).addClass("active");
			});
		});
	</script>

</block>